body {
  background: #111;
  color: #00e5ff;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
}

.hidden {
  display: none;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
}

.camera-box {
  border: 2px dashed #00e5ff;
  margin: 20px 0;
}

.camera-box img {
  width: 100%;
}

.stars {
  font-size: 32px;
}

.avg {
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #00bcd4;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
